@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
	font-family: 'Roboto Condensed';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto Condensed'),
		local('RobotoCondensed-Regular'),
		url('roboto-condensed-v18-latin_latin-ext-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('roboto-condensed-v18-latin_latin-ext-regular.woff')
			format('woff'),
		/* Modern Browsers */ url('roboto-condensed-v18-latin_latin-ext-regular.ttf')
			format('truetype'); /* Legacy iOS */
}

* {
	margin: 0;
	padding: 0;
}

#title {
	max-width: 800px;
	margin: auto;
	padding-bottom: 50px;
}

div.about-box > div {
	height: 350px;
}


#about > div > div {
	padding: 25px;
}

#about > div > div > a > img {
	margin-bottom: 25px;
}

p.about-text {
	height: 120px;
}

#bgImageContainer {
	max-width: 1080px;
	padding: 0;
	margin: 0;
}

#bgImage{
	width: 100%;
}

#zoom {
    max-width: 1080px;
	min-height: 720px;
}

#myVizzu {
	width: 100%;
	height: 720px;
	object-fit: contain;
	margin:auto;
}

	
#options {
  margin: auto;
  max-width: 600px;
  padding: 10px;
}

#slider {
  max-width: 500px;
  margin: 20px 50px 10px 50px;
}

	
#buttons {
  display: grid;
  grid-template-columns: auto auto auto;
}


.w3-top {
	position: fixed;
	width: 100%;
	top: 0px;
}

.button {
	cursor: pointer;	
	background-color: #d8d8d8;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
}
.button:hover {
	background-color: #c8c8c8;
}


input {
	margin: auto;
}


div {
	margin: auto;
}


a {
	font-weight: 400;
	font-size: 15px;
	line-height: 1.5em;
	font-family: Roboto;
	color: #4171cd;
	text-decoration: none;
}
